<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<dubbo:application name="zbjdl-security-boss" owner="zbjdl" />
	
	<!-- 自动从注册中心发现监控服务 -->
	<dubbo:monitor protocol="registry" />
	<!-- 初始化上下文，与rmi组件集成 -->
<!-- 	<bean class="com.alibaba.dubbo.config.utils.ApplicationContextHelper"/>
 -->	<!-- 指定注册中心 -->
	<dubbo:registry address="zookeeper://registry.zbjdl.in:2181" />

<!-- 
    <dubbo:reference id="securityFacade" interface="com.zbjdl.boss.admin.facade.SecurityFacade" 
        group="zbjdl-service-group" version="1.0.0" check="false" >
    </dubbo:reference> -->


</beans>